<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
		<section name="eras" type="GrapeCity.Win.Editors.ErasSectionHandler, GrapeCity.Win.Editors.v60, Version=6.0.2011.630, Culture=neutral, PublicKeyToken=0ce01a33ce55ca12"/>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="App.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
	<eras>
		<add name="明治" abbreviation="明" symbol="M" startDate="1868-09-08" shortcuts="1,M"/>
		<add name="大正" abbreviation="大" symbol="T" startDate="1912-07-30" shortcuts="2,T"/>
		<add name="昭和" abbreviation="昭" symbol="S" startDate="1926-12-25" shortcuts="3,S"/>
		<add name="平成" abbreviation="平" symbol="H" startDate="1989-01-08" shortcuts="4,H"/>
		<add name="令和" abbreviation="令" symbol="R" startDate="2019-05-01" shortcuts="5,R"/>
	</eras>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <App.Properties.Settings>
            <setting name="LastTantosha" serializeAs="String">
                <value />
            </setting>
            <setting name="FBSavePath" serializeAs="String">
                <value />
            </setting>
            <setting name="BackUpDir" serializeAs="String">
                <value />
            </setting>
        </App.Properties.Settings>
    </userSettings>
</configuration>
